/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*______________________________________*/

.body {
  display: flex;
}

.ul::-webkit-scrollbar {
  width: 10px;
}
.ul {
  overflow: auto; /* Добавляем полосы прокрутки */
  width: 350px; /* Ширина блока */
  height: 450px; /* Высота блока */
  padding-top: 10px;
}

.header {
  margin: 0 auto;
  margin-top: 40px;
  padding: 10px 20px;
  width: 350px; /* Ширина блока */
  height: 500px; /* Высота блока */
  border: solid 1px black; /* Параметры рамки */
  border-radius: 15px;
  display: inline-block;
}
#filter {
  border: 1px solid black;
  box-shadow: 3px 3px 3px gray;
  border-radius: 12px;
  padding-left: 10px;
  height: 30px;
  width: 310px;
}
.btm {
  border: 1px solid black;
  border-radius: 12px;
  padding-left: 10px;
  height: 30px;
  width: 310px;
  margin-bottom: 4px;
  padding-top: 5px;
}
.btm:hover {
  box-shadow: 2px 3px 2px gray;
}
.content1 {
  padding: 10px 20px;
  margin-left: 5px;
  width: 260px; /* Ширина блока */
  max-height: 500px; /* Высота блока */
  border: solid 1px black; /* Параметры рамки */
  border-radius: 15px;
  display: inline-block;
}
input {
  border: 1px solid black;
  border-radius: 12px;
  padding-left: 10px;
  height: 30px;
  width: 220px;
  margin-bottom: 4px;
  padding-top: 5px;
}
